#googlebutton {
    font-family: 'Orbitron', sans-serif;
    font-size: 200%;
    margin-left: 45%;
    width: 190px;
    height: 60px;
}

Pre {
    font-family: 'Orbitron', sans-serif;
    font-size: 250%;
    text-indent: 5px;
    margin-left: 1%;
    margin-top: 1%;
    width: 210px;
    height: 160px;
}